@use './reset.scss';

@use './palette.scss' as *;

:root {
  --background-strong: #{$shade-50};
  --background: #{$shade-100};
  --background-weak: #{$shade-200};
  --background-weaker: #{$shade-300};

  --background-accent: #{$shade-900};
  --foreground-accent: #{$shade-100};

  --midtone-weak: #{$shade-400};
  --midtone: #{$shade-500};
  --midtone-strong: #{$shade-600};

  --foreground-weaker: #{$shade-700};
  --foreground-weak: #{$shade-800};
  --foreground: #{$shade-900};
  --foreground-strong: #{$shade-950};

  --text: #{$shade-950};
  --text-valid: #{$green-800};
  --text-error: #{$red-900};

  &.dark-theme {
    --background-strong: #{$shade-950};
    --background: #{$shade-900};
    --background-weak: #{$shade-800};
    --background-weaker: #{$shade-700};

    --background-accent: #{$shade-1000};
    --foreground-accent: #{$shade-400};

    --foreground-weaker: #{$shade-300};
    --foreground-weak: #{$shade-200};
    --foreground: #{$shade-100};
    --foreground-strong: #{$shade-50};

    --text: #{$shade-100};
    --text-valid: #{$green-500};
    --text-error: #{$red-600};
  }
}

html {
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;

  background: var(--background);
  color: var(--text);

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  font-size: 12pt;
  font-weight: 400;
  line-height: 1.25em;

  * {
    box-sizing: border-box;
    line-height: 1.25em;
  }
}

#root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: hidden;
}

.page {
  margin: 2rem;

  background: var(--background);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0 0 0 / 0.2);

  overflow: hidden;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;

  color: inherit;
  fill: currentColor;

  & > * {
    fill: currentColor;
  }
}

.vert-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.align-center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.fill {
  flex: 1;
}

.text-error {
  font-size: 0.75em;
  line-height: 1.125em;
  color: var(--text-error);
}

@import './links.scss';
@import './inputs.scss';

@import '../components/Background.scss';
