/* Defines SASS/SCSS Color Variables for the sites palette */

$shade-50: #ebebec;
$shade-100: #dedfe2;
$shade-200: #caccd3;
$shade-300: #bbbfc8;
$shade-400: #acb1bb;
$shade-500: #959ca9;
$shade-600: #7f8797;
$shade-700: #6f7787;
$shade-800: #545a65;
$shade-900: #39414c;
$shade-950: #2e343f;
$shade-1000: #1e232b;

$red-50: #f7dede;
$red-100: #f3d4d4;
$red-200: #e6b8b8;
$red-300: #dea0a0;
$red-400: #dd8484;
$red-500: #d16c6c;
$red-600: #b15f5f;
$red-700: #a15353;
$red-800: #733c3c;
$red-900: #5d2828;
$red-950: #451414;

$yellow-50: #f7f2de;
$yellow-100: #f3ecd4;
$yellow-200: #e6dcb8;
$yellow-300: #ded1a0;
$yellow-400: #ddca84;
$yellow-500: #d1bb6c;
$yellow-600: #b19f5f;
$yellow-700: #a19053;
$yellow-800: #73673c;
$yellow-900: #5d5228;
$yellow-950: #453a14;

$green-50: #e2f7de;
$green-100: #d8f3d4;
$green-200: #bfe6b8;
$green-300: #a8dea0;
$green-400: #90dd84;
$green-500: #79d16c;
$green-600: #6ab15f;
$green-700: #5da153;
$green-800: #43733c;
$green-900: #305d28;
$green-950: #1b4514;

$blue-50: #deeef7;
$blue-100: #d4e8f3;
$blue-200: #b8d5e6;
$blue-300: #a0c8de;
$blue-400: #84bcdd;
$blue-500: #6cacd1;
$blue-600: #5f93b1;
$blue-700: #5385a1;
$blue-800: #3c5e73;
$blue-900: #284a5d;
$blue-950: #143345;

$purple-50: #e9def7;
$purple-100: #e1d4f3;
$purple-200: #ccb8e6;
$purple-300: #bba0de;
$purple-400: #aa84dd;
$purple-500: #986cd1;
$purple-600: #835fb1;
$purple-700: #7553a1;
$purple-800: #533c73;
$purple-900: #3f285d;
$purple-950: #2a1445;
