a {
  --deco-width: 0px !important;
}

a:hover {
  --deco-width: 0px !important;
}

button {
  width: 360px;
  height: 61px;
  font-size: 20px;

  background: #8d8e92;
  border: none;
  border-radius: 15px;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.4));
}

button:hover {
  background: #aaabad;
}
