.input-text {
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  
  width: 100%;

  .input-text-field {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: 1;
    width: 100%;

    font-size: 1em;
  
    background: var(--background-strong);
    border: 1px solid var(--background-weaker);
    border-radius: 0.1em;
  
    overflow: hidden;

    .input-text-icon {
      margin-top: -2px;
      margin-bottom: -2px;

      background: var(--background);
      border-right: 1px solid var(--background-weaker);
      color: var(--foreground-weaker);

      svg {
        display: block;
        margin: 0.25em;
    
        font-size: 1.25em;
      }
    }

    input {
      display: block;
      flex: 1;

      height: 2em;
      padding: 0.5em;

      font-size: 1em;
      line-height: 1.5em;

      outline: none;
      background: transparent;
      color: var(--foreground-weak);
      border: none;

      &::placeholder {
        color: var(--foreground-weaker);
        opacity: 0.8;
      }
    }

    &:has(:focus) {
      background: var(--background-strong);
      color: var(--foreground-strong);
      box-shadow: 0 0.1em 1em rgba(0 0 0 / 0.2);

      .input-text-icon {
        background: var(--background-strong);

        svg {
          transform: scale(1.1);
        }
      }

      input {
        font-weight: 700;
      }
    }
  
    &:has([data-hovered]) {
      background: var(--background-strong);
      color: var(--foreground);

      .input-text-icon > svg {
        transform: scale(1.15);
      }

      input {
        font-weight: 500;
      }
    }

    &:has(:invalid){
      color: var(--text-error);
      border-color: currentColor;

      .input-text-icon {
        color: var(--text-error);
      }
    }
  
    &:has(:disabled) {
      background: var(--background-weak);

      .input-text-icon {
        background: var(--background-weak);
      }
    }
  }

  .input-text-error {
    display: inline-block;

    margin: 0.5em 0 0.75em 0;

    font-size: 0.8em;
    line-height: 1.2em;
    line-break: normal;
  }
}