.stats-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin: 1rem 0;

  .stats-bar-entry {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    .icon {
      margin-right: 0.5rem;
      font-size: 1.5rem;
    }

    .stats-bar-info {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      gap: 0.125rem;

      .stats-bar-number {
        font-size: 0.8rem;
        font-weight: bold;
      }

      label {
        font-size: 0.6rem;
        font-weight: normal;
      }
    }
  }
}