.user-summary {
  display: flex;
  flex-flow: row;
  align-items: center;

  width: 100%;
  margin: 1em 0;

  cursor: pointer;

  transition: transform 0.2s ease;

  .user-summary-picture {
    width: 4em;
    height: 4em;

    margin-right: 1em;
    
    background: var(--background-weaker);
    border-radius: 50%;
    
    object-fit: cover;
    overflow: hidden;
    align-items: center;
  }

  .user-summary-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;

    h2 { font-size: 1.25em; }
    h3 { font-size: 0.8em; }
  }

  &:hover { transform: scale(1.05); }
  &:active { transform: scale(1.1); }
}