.form-fillup-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;

  border-radius: 20px;
}

.form-fillup-container h1 {
  font-size: 30px;
  margin: 10px;
  background-color: #d4d4d4;
}

.form-fillup-container section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-fillup-container .user-input {
  display: flex;
  flex-direction: column;
}

.form-fillup-container .user-input.email {
  align-items: center;
}

.form-fillup-container .user-input label {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin: 5px;
}

.form-fillup-container .user-input input {
  box-sizing: border-box;

  width: 413px;
  height: 57px;

  margin: 5px;

  text-align: center;
  font-family: "Roboto";
  font-size: 16px;

  border: 1px solid #d4d4d4;
  background-size: 40px;
  background-color: #ebeaea;
  border-radius: 6px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
}

.form-fillup-container
  .user-input
  input[type="date"]::-webkit-calendar-picker-indicator {
  margin: 10px;
}

.form-fillup-container .user-input select {
  box-sizing: border-box;

  height: 57px;
  margin: 5px;
  width: 180px;

  text-align: center;
  font-family: "Roboto";
  font-size: 16px;

  border: 1px solid #d4d4d4;
  background-size: 40px;
  background-color: #ebeaea;
  border-radius: 6px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
}

.form-fillup-container .user-input button {
  width: 299px !important;
  height: 50px;

  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.4));
  background-color: #484b4f;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  margin: 23px;
}

.form-fillup-container .user-input button:hover {
  background-color: #707173 !important;
}

.form-fillup-container .file-input {
  display: flex;
  flex-direction: column;
}

.form-fillup-container .file-input label {
  display: flex;
  align-items: flex-start;

  width: 248px;
  height: 24px;
  margin: 5px;
  padding: 5px;

  font-size: 20px;
  line-height: 23px;
  color: #333333;
}

.form-fillup-container
  .file-input
  input[type="file"]::-webkit-file-upload-button {
  display: inline-block;
  background-color: #484b4f;
  border: 1px solid #999;
  border-radius: 10px;
  padding: 17px 20px;

  font-weight: 500;
  font-size: 12pt;
  color: #ffffff;

  margin: 2px;
}

.form-fillup-container .file-input button {
  width: 191px;
  height: 50px;

  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.4));
  color: #ffffff;
  border: none;
  border-radius: 10px;
  margin: 5px;
}

.pdf-container {
  border: "1px solid rgba(0, 0, 0, 0.3)";
  height: "740px";
  width: "960px";
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-applicant {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
}

.search-applicant .search {
  box-sizing: border-box;
  width: 413px;
  height: 57px;
  margin: 10px;

  text-align: center;
  font-family: "Roboto";
  font-size: 16px;

  border: 1px solid #d4d4d4;
  background: url("src/assets/Search_Icon.png") no-repeat right;
  background-size: 40px;
  background-color: var(--clr-white);
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
}

.search-applicant button {
  width: 120px;
  height: 50px;

  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.4));
  border: none;
  border-radius: 10px;
}

.headline {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  font-size: 30px;
  margin: 15px;
  background-color: #b5b1b1;
}
