
#page-login-greeting {
  flex: 2;
  padding: 1rem;

  background: var(--background-accent);
  color: var(--foreground-accent);

  h2 {
    margin-bottom: 1rem;

    font-weight: 500;
    font-size: 1.75rem;
    letter-spacing: 0.2ex;
    text-align: center;
  }

  p {
    font-weight: 400;
    text-align: center;
  }
}
